# Создаем новые переменные

In [1]:
import pandas as pd

bikes = pd.read_csv('Data\BikeData.csv')
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38

In [2]:
bikes['Rental Count'] = bikes['Partner 1'] + bikes['Partner 2']
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2,Rental Count
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50,257
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80,219
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140,162
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105,148
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38,97

In [6]:
pd.to_datetime(bikes['Date']).dt.month

ValueError: time data "13/12/2017" doesn't match format "%m/%d/%Y", at position 12. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [7]:
pd.to_datetime(bikes['Date'], dayfirst=True).dt.month

0       12
1       12
2       12
3       12
4       12
        ..
8755    11
8756    11
8757    11
8758    11
8759    11
Name: Date, Length: 8760, dtype: int32

In [8]:
bikes['Date'] = pd.to_datetime(bikes['Date'], dayfirst=True)

In [9]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             8760 non-null   datetime64[ns]
 1   Hour             8760 non-null   int64
 2   Temperature      8581 non-null   float64
 3   Humidity         8760 non-null   int64
 4   Wind speed       8760 non-null   float64
 5   Rainfall         8760 non-null   float64
 6   Snowfall         8760 non-null   float64
 7   Seasons          8760 non-null   object
 8   Holiday          8760 non-null   object
 9   Functioning Day  8760 non-null   object
 10  Partner 1        8760 non-null   int64
 11  Partner 2        8760 non-null   int64
 12  Rental Count     8760 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(5), object(3)
memory usage: 889.8+ KB

In [10]:
bikes['Date'].dt.month

0       12
1       12
2       12
3       12
4       12
        ..
8755    11
8756    11
8757    11
8758    11
8759    11
Name: Date, Length: 8760, dtype: int32

In [11]:
bikes['Date'].dt.year

0       2017
1       2017
2       2017
3       2017
4       2017
        ...
8755    2018
8756    2018
8757    2018
8758    2018
8759    2018
Name: Date, Length: 8760, dtype: int32

In [12]:
bikes[bikes['Date'].dt.year == 2017].shape

(744, 13)

In [13]:
bikes[bikes['Date'].dt.year == 2018].shape

(8016, 13)

In [14]:
bikes['Date'].dt.day_name()

0       Friday
1       Friday
2       Friday
3       Friday
4       Friday
         ...
8755    Friday
8756    Friday
8757    Friday
8758    Friday
8759    Friday
Name: Date, Length: 8760, dtype: object

In [15]:
bikes[bikes['Date'].dt.day_name() == 'Sunday'].shape

(1248, 13)

In [16]:
bikes['Functioning Day'] = bikes['Functioning Day'] == 'Yes'

In [17]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2,Rental Count
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,True,207,50,257
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,True,139,80,219
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,True,22,140,162
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,True,43,105,148
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,True,59,38,97

In [18]:
bikes['Day name'] = bikes['Date'].dt.day_name()
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2,Rental Count,Day name
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,True,207,50,257,Friday
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,True,139,80,219,Friday
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,True,22,140,162,Friday
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,True,43,105,148,Friday
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,True,59,38,97,Friday

In [19]:
bikes.sort_values(by='Day name', ascending=False)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2,Rental Count,Day name
3828,2018-05-09,12,18.7,39,1.9,0.0,0.0,Spring,No Holiday,True,1020,148,1168,Wednesday
3156,2018-04-11,12,15.7,46,3.9,0.0,0.0,Spring,No Holiday,False,0,0,0,Wednesday
2154,2018-02-28,18,3.6,90,2.1,9.5,0.0,Winter,No Holiday,True,2,0,2,Wednesday
2155,2018-02-28,19,2.5,95,1.9,0.0,0.0,Winter,No Holiday,True,15,2,17,Wednesday
2156,2018-02-28,20,2.7,96,1.5,0.0,0.0,Winter,No Holiday,True,1,5,6,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5050,2018-06-29,10,24.4,76,2.1,0.0,0.0,Summer,No Holiday,True,269,432,701,Friday
5049,2018-06-29,9,22.9,86,1.7,0.0,0.0,Summer,No Holiday,True,530,866,1396,Friday
5048,2018-06-29,8,22.2,95,1.6,0.0,0.0,Summer,No Holiday,True,69,1525,1594,Friday
5047,2018-06-29,7,22.0,97,0.9,0.0,0.0,Summer,No Holiday,True,874,817,1691,Friday
8759,2018-11-30,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,True,442,401,843,Friday

### Вспоминаем про функции

In [20]:
def currency_converter(rub):
    return round(rub / 74.73,2)

currency_converter(1000)

13.38

In [21]:
amounts = [1000, 2000, 4214, 12321]
print(list(map(currency_converter, amounts)))
print(list(map(lambda x: round(x / 74.73,2), amounts)))
print(list(map(lambda x: 0 if x < 3000 else 1, amounts)))

[13.38, 26.76, 56.39, 164.87]
[13.38, 26.76, 56.39, 164.87]
[0, 0, 1, 1]

In [22]:
bikes['Holiday'].apply(lambda x: 1 if x == 'Holiday' else 0).sum()

432

In [23]:
bikes[bikes['Holiday'] == 'Holiday'].shape

(432, 14)

In [24]:
bikes['Holiday'] = bikes['Holiday'].apply(lambda x: 1 if x == 'Holiday' else 0)

In [25]:
bikes.head()

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2,Rental Count,Day name
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,0,True,207,50,257,Friday
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,0,True,139,80,219,Friday
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,0,True,22,140,162,Friday
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,0,True,43,105,148,Friday
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,0,True,59,38,97,Friday

In [26]:
bikes['Normal Humidity'] = bikes['Humidity'].apply(lambda x: 1 if x in range(40,61) else 0)

In [27]:
def get_temp_cat(temp):
    if temp < 0:
        return 'Freezing'
    elif temp < 15:
        return 'Chilly'
    elif temp < 26:
        return 'Nice'
    elif temp >= 26:
        return 'Hot'
    else:
        return temp

In [28]:
bikes['Temperature Category'] = bikes['Temperature'].apply(get_temp_cat)

In [29]:
bikes[['Temperature Category', 'Temperature']].head()

  Temperature Category  Temperature
0             Freezing         -5.2
1             Freezing         -5.5
2             Freezing         -6.0
3             Freezing         -6.2
4             Freezing         -6.0

In [30]:
bikes['Temperature Category'] = pd.Categorical(bikes['Temperature Category'])

In [31]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  8760 non-null   datetime64[ns]
 1   Hour                  8760 non-null   int64
 2   Temperature           8581 non-null   float64
 3   Humidity              8760 non-null   int64
 4   Wind speed            8760 non-null   float64
 5   Rainfall              8760 non-null   float64
 6   Snowfall              8760 non-null   float64
 7   Seasons               8760 non-null   object
 8   Holiday               8760 non-null   int64
 9   Functioning Day       8760 non-null   bool
 10  Partner 1             8760 non-null   int64
 11  Partner 2             8760 non-null   int64
 12  Rental Count          8760 non-null   int64
 13  Day name              8760 non-null   object
 14  Normal Humidity       8760 non-null   int64
 15  Temperature Category  8581 non-null   category
dtypes: bool(1), category(1), datetime64[ns](1), float64(4), int64(7), object(2)
memory usage: 975.6+ KB

In [32]:
bikes['Temperature Category'].cat.codes

0       1
1       1
2       1
3       1
4       1
       ..
8755    0
8756    0
8757    0
8758    0
8759    0
Length: 8760, dtype: int8

In [33]:
bikes['Temperature Category'].cat.categories

Index(['Chilly', 'Freezing', 'Hot', 'Nice'], dtype='object')

In [34]:
import numpy as np

bikes['Good Weather'] = np.where((bikes['Temperature Category'] == 'Nice') &
         (bikes['Normal Humidity'] == 1) &
         (bikes['Wind speed'] <= 5.4) &
         (bikes['Snowfall'] == 0) &
         (bikes['Rainfall'] == 0), 1, 0)
bikes['Good Weather']

0       0
1       0
2       0
3       0
4       0
       ..
8755    0
8756    0
8757    0
8758    0
8759    0
Name: Good Weather, Length: 8760, dtype: int32

In [35]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  8760 non-null   datetime64[ns]
 1   Hour                  8760 non-null   int64
 2   Temperature           8581 non-null   float64
 3   Humidity              8760 non-null   int64
 4   Wind speed            8760 non-null   float64
 5   Rainfall              8760 non-null   float64
 6   Snowfall              8760 non-null   float64
 7   Seasons               8760 non-null   object
 8   Holiday               8760 non-null   int64
 9   Functioning Day       8760 non-null   bool
 10  Partner 1             8760 non-null   int64
 11  Partner 2             8760 non-null   int64
 12  Rental Count          8760 non-null   int64
 13  Day name              8760 non-null   object
 14  Normal Humidity       8760 non-null   int64
 15  Temperature Category  8581 non-null   category
 16  Good Weather          8760 non-null   int32
dtypes: bool(1), category(1), datetime64[ns](1), float64(4), int32(1), int64(7), object(2)
memory usage: 1009.8+ KB

In [36]:
bikes['Sum_Partner'] = bikes['Partner 1'] + bikes['Partner 2']
bikes

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2,Rental Count,Day name,Normal Humidity,Temperature Category,Good Weather,Sum_Partner
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,0,True,207,50,257,Friday,0,Freezing,0,257
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,0,True,139,80,219,Friday,0,Freezing,0,219
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,0,True,22,140,162,Friday,0,Freezing,0,162
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,0,True,43,105,148,Friday,1,Freezing,0,148
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,0,True,59,38,97,Friday,0,Freezing,0,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,19,4.2,34,2.6,0.0,0.0,Autumn,0,True,467,177,644,Friday,0,Chilly,0,644
8756,2018-11-30,20,3.4,37,2.3,0.0,0.0,Autumn,0,True,296,63,359,Friday,0,Chilly,0,359
8757,2018-11-30,21,2.6,39,0.3,0.0,0.0,Autumn,0,True,571,665,1236,Friday,0,Chilly,0,1236
8758,2018-11-30,22,2.1,41,1.0,0.0,0.0,Autumn,0,True,171,457,628,Friday,1,Chilly,0,628
8759,2018-11-30,23,1.9,43,1.3,0.0,0.0,Autumn,0,True,442,401,843,Friday,1,Chilly,0,843

In [37]:
bikes.shape

(8760, 18)

In [38]:
bikes = bikes.drop('Partner 1', axis=1)
bikes.shape

(8760, 17)

In [39]:
del bikes['Partner 2']
bikes

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Rental Count,Day name,Normal Humidity,Temperature Category,Good Weather,Sum_Partner
0,2017-12-01,0,-5.2,37,2.2,0.0,0.0,Winter,0,True,257,Friday,0,Freezing,0,257
1,2017-12-01,1,-5.5,38,0.8,0.0,0.0,Winter,0,True,219,Friday,0,Freezing,0,219
2,2017-12-01,2,-6.0,39,1.0,0.0,0.0,Winter,0,True,162,Friday,0,Freezing,0,162
3,2017-12-01,3,-6.2,40,0.9,0.0,0.0,Winter,0,True,148,Friday,1,Freezing,0,148
4,2017-12-01,4,-6.0,36,2.3,0.0,0.0,Winter,0,True,97,Friday,0,Freezing,0,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2018-11-30,19,4.2,34,2.6,0.0,0.0,Autumn,0,True,644,Friday,0,Chilly,0,644
8756,2018-11-30,20,3.4,37,2.3,0.0,0.0,Autumn,0,True,359,Friday,0,Chilly,0,359
8757,2018-11-30,21,2.6,39,0.3,0.0,0.0,Autumn,0,True,1236,Friday,0,Chilly,0,1236
8758,2018-11-30,22,2.1,41,1.0,0.0,0.0,Autumn,0,True,628,Friday,1,Chilly,0,628
8759,2018-11-30,23,1.9,43,1.3,0.0,0.0,Autumn,0,True,843,Friday,1,Chilly,0,843

In [40]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  8760 non-null   datetime64[ns]
 1   Hour                  8760 non-null   int64
 2   Temperature           8581 non-null   float64
 3   Humidity              8760 non-null   int64
 4   Wind speed            8760 non-null   float64
 5   Rainfall              8760 non-null   float64
 6   Snowfall              8760 non-null   float64
 7   Seasons               8760 non-null   object
 8   Holiday               8760 non-null   int64
 9   Functioning Day       8760 non-null   bool
 10  Rental Count          8760 non-null   int64
 11  Day name              8760 non-null   object
 12  Normal Humidity       8760 non-null   int64
 13  Temperature Category  8581 non-null   category
 14  Good Weather          8760 non-null   int32
 15  Sum_Partner           8760 non-null   int64
dtypes: bool(1), category(1), datetime64[ns](1), float64(4), int32(1), int64(6), object(2)
memory usage: 941.3+ KB

In [48]:
bikes.to_pickle('BikesDataVars.pkl')

In [49]:
bikes.to_csv('BikesDataVars.csv', index=False)
bikes.to_excel('BikesDataVars.xlsx', index=False)

In [50]:
df_pkl = pd.read_pickle('BikesDataVars.pkl')

In [44]:
df_pkl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  8760 non-null   datetime64[ns]
 1   Hour                  8760 non-null   int64
 2   Temperature           8581 non-null   float64
 3   Humidity              8760 non-null   int64
 4   Wind speed            8760 non-null   float64
 5   Rainfall              8760 non-null   float64
 6   Snowfall              8760 non-null   float64
 7   Seasons               8760 non-null   object
 8   Holiday               8760 non-null   int64
 9   Functioning Day       8760 non-null   bool
 10  Rental Count          8760 non-null   int64
 11  Day name              8760 non-null   object
 12  Normal Humidity       8760 non-null   int64
 13  Temperature Category  8581 non-null   category
 14  Good Weather          8760 non-null   int32
 15  Sum_Partner           8760 non-null   int64
dtypes: bool(1), category(1), datetime64[ns](1), float64(4), int32(1), int64(6), object(2)
memory usage: 941.2+ KB

In [45]:
df_csv = pd.read_csv('BikesDataVars.csv')
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  8760 non-null   object
 1   Hour                  8760 non-null   int64
 2   Temperature           8581 non-null   float64
 3   Humidity              8760 non-null   int64
 4   Wind speed            8760 non-null   float64
 5   Rainfall              8760 non-null   float64
 6   Snowfall              8760 non-null   float64
 7   Seasons               8760 non-null   object
 8   Holiday               8760 non-null   int64
 9   Functioning Day       8760 non-null   bool
 10  Rental Count          8760 non-null   int64
 11  Day name              8760 non-null   object
 12  Normal Humidity       8760 non-null   int64
 13  Temperature Category  8581 non-null   object
 14  Good Weather          8760 non-null   int64
 15  Sum_Partner           8760 non-null   int64
dtypes: bool(1), float64(4), int64(7), object(4)
memory usage: 1.0+ MB

In [46]:
df_xlsx = pd.read_excel('BikesDataVars.xlsx', index_col=False)
df_xlsx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  8760 non-null   datetime64[ns]
 1   Hour                  8760 non-null   int64
 2   Temperature           8581 non-null   float64
 3   Humidity              8760 non-null   int64
 4   Wind speed            8760 non-null   float64
 5   Rainfall              8760 non-null   float64
 6   Snowfall              8760 non-null   float64
 7   Seasons               8760 non-null   object
 8   Holiday               8760 non-null   int64
 9   Functioning Day       8760 non-null   bool
 10  Rental Count          8760 non-null   int64
 11  Day name              8760 non-null   object
 12  Normal Humidity       8760 non-null   int64
 13  Temperature Category  8581 non-null   object
 14  Good Weather          8760 non-null   int64
 15  Sum_Partner           8760 non-null   int64
dtypes: bool(1), datetime64[ns](1), float64(4), int64(7), object(3)
memory usage: 1.0+ MB